/* You can add global styles to this file, and also import other style files */
@use "themes/tailwind";
@plugin "tailwindcss-primeui";

@import "primeicons/primeicons.css";

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; /* supports weights 100 → 900 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  min-width: 900px;
}

.p-panelmenu-panel {
  background: var(--p-panelmenu-panel-background);
  border-width: 0cm;
  border-style: none;
  border-color: var(--p-panelmenu-panel-border-color);
  color: black;
  border-radius: var(--p-panelmenu-panel-border-radius);
  padding: var(--p-panelmenu-panel-padding);
  width: 100%;
}

.p-panelmenu-root-list,
.p-panelmenu-submenu {
  display: flex;
  flex-direction: column; /* keep vertical layout */
  gap: 6px; /* adjust spacing */
}

.p-focus.p-panelmenu-item {
  color: #000;
}
